@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000000;
  --warna-tema: 55 146 55;
}
* {
  color: var(--primary);
}
body {
  @apply container w-full mx-auto bg-cover bg-no-repeat bg-center bg-secondary/20  h-[100vh];
  background-image: url('/img/bg-image.webp');
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-Inknut;
}
a:hover {
  opacity: 0.5;
}

/* Menu */
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* Menu */

.title-section > h1 {
  text-shadow: 1px 1px 0px rgba(0, 0, 0);
}

.title-section > h2 {
  text-shadow: 0px 10px 0px rgba(55, 146, 55, 0.8);
}
@media (min-width: 1024px) {
  .title-section > h2 {
    text-shadow: 0px 20px 0px rgba(55, 146, 55, 0.8);
  }
}

/* //! Book Component */
.book {
  background: linear-gradient(160deg, rgba(240, 255, 66, 1) 0%, rgba(55, 146, 55, 1) 100%);
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  text-align: center;
}
.book > p {
  font-size: 20px;
  margin: 0 30px;
}

.cover {
  overflow: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: linear-gradient(160deg, rgba(240, 255, 66, 1) 0%, rgba(55, 146, 55, 1) 100%);
  border-width: 5px;
  border-color: transparent;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
}

/* Menu */

/*//!  Community Component */
.card svg {
  height: 25px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin-top: 2rem;
}

.card::before,
.card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card::before {
  content: '';
  left: 0;
  justify-content: flex-end;
  background-color: #f0ff42;
}

.card::after {
  content: '';
  right: 0;
  justify-content: flex-start;
  background-color: #f7ff99;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover span {
  opacity: 0;
  z-index: -3;
}

.card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000000;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.card .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/*//!  About Us Component */

.play-btn {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  width: 105px;
  height: 105px;
  position: absolute;
  backdrop-filter: blur(1px);
}

@media (max-width: 345px) {
  .play-btn {
    width: 70px;
    height: 70px;
  }
}

.btn {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 50px;

  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 25px 0px 25px 40px;
}
.btn-active {
  border-color: transparent transparent transparent #404040;
  border-style: double;
  border-width: 0px 0 0px 40px;
}
.btn:hover {
  border-color: transparent transparent transparent #ffffff;
  opacity: 0.5;
}
